@import "./base/bootstrap-extended/include"; // Bootstrap includes
@import "./base/components/include"; // Components includes

//  Vertical menu
//=========================
body.vertical-layout {
  &.vertical-menu-modern {
    .horizontal-menu-wrapper {
      display: none;
    }
  }
}

// Horizontal Menu
//=========================
.horizontal-menu {
  // Hide Vertical menu in Horizontal Layout in Laravel not in HTML
  > .main-menu {
    display: none;
  }
  .fixed-top {
    left: 0;
  }
}

// content style
//=========================
html body.navbar-static .app-content .header-navbar {
  background: transparent;
  box-shadow: none !important;
}

@include media-breakpoint-down(xs) {
  // Vertical Layout
  body.vertical-layout {
    &:not(.horizontal-layout) {
      &.navbar-floating {
        .header-navbar {
          margin-left: 1.2rem;
          margin-right: 1.2rem;
        }
      }
    }
  }
}

//Added by FAF

// .main-menu.menu-dark {
//   background-color: #ffc0cb;
// }

// .dark-layout .main-menu-content .navigation-main {
//   background-color: #ffc0cb;
// }

.dark-layout .main-menu-content .navigation-main li a {
  // background-color: #f85671;
  // background-color: #ffc0cb;
  color: brown !important;
}


// .dark-layout .main-menu.menu-dark .navigation li.sidebar-group-active a {
//   background-color: #290f13;
// }

// .dark-layout .main-menu.menu-dark .navigation > li.open:not(.menu-item-closing) > a {
//   background-color: #290f13;
// }


// .text-dark {
//   color: black;
// }

// .text-muted {
//   color: black;
// }

// .text-body {
//   color: black;
// }

// .text-body-heading {
//   color: black;
// }

// .section-label {
//   color: black;
// }